.print{
    width: 95%;
    margin: 1rem auto;
    text-align: center;
    position: relative;
    padding: 3rem;
}

.print-header{
    width: 100%;
    min-height: 5rem;
    background-color:#fff;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 0 0;
    justify-content: space-between;
    align-items: center;
}

.print-header .child1{
    margin-left: 1rem;
}
.print-header .child2{
    padding: 1px;
}

.print-header .child2 p{
    font-size: 13px;
    margin: 0 1rem;
    font-weight: 600;
}

.btn{
    outline: none !important;
    box-shadow: none !important;
    margin-left: 1rem;
}



@media print{
    .print .btn{
        visibility: hidden;
    }

    .print{
        width: 100%;
    }
}
